@import url(https://fonts.googleapis.com/css?family=Roboto:400);

body {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	line-height: 1;
	background-color:#DDD;
}

@media (min-width: 1020px) and (min-aspect-ratio: 1222/1000) {
aside {
    display: none;
}

body {
	background-image: url(1L8A1022.jpg);
	background-repeat: no-repeat;
	background-size:100%;
	background-attachment:fixed;
}
}

@font-face {
	font-family:'Novecento wide Medium';
	src: url('Novecentowide-Medium.otf');
	src: local('Novecento wide Medium'), url('Novecentowide-Medium.otf') format('truetype');
}

.Novecentowide-Medium {
	font-family: Novecentowide-Medium;
	font-weight: normal;
	font-style: normal;
}

.wrapper{
	margin: auto;
	width:920px;
}

#title{
	margin:auto;
	float:left;
	clear:both;
	width:300px;
	font-family: Novecentowide-Medium;
	font-size: 50px;
	color:#E9E9E9;
	background-color:#0C9;
	padding:20px;
	padding-top:10px;
}

#subtitle{
	position:relative;
	margin-top: 40px;
	width:880px;
	float:left;
	clear:both;
	padding-left:20px;
	padding-right: 20px;
	padding-top:15px;
	padding-bottom:15px;
}

#biobackground{
	background: #0C9;
  	filter: alpha(opacity=9);
  	-moz-opacity: 0.9;
 	opacity: 0.9;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index:-1;
}

#bio{
	text-height:20px;
	color:#FFFFFF;
	font-size: 13px;
	text-align:justify;
	font-family: Roboto;
	opacity:1;
	line-height: 1.2;
}

.menu{
	float: left;
	clear:both;
	width:900px;
	margin: auto;
	padding-left: 20px;
	padding-bottom:7px;
	font-size: 50px;
	color: #444;
	background-color:#E9E9E9;
	font-family: Novecentowide-Medium;
	line-height: 1.2;
	text-height: 0px;
}

#sectionHeader{
	float:left;
	margin-right:130px;
}

.content{
	margin: auto;
	float: left;
	width: 920px;
	background: rgba(255, 255, 255, 0.67);
	color: #555;
	text-align: justify;
	font-size: 12px;
	font-family: Roboto;
	font-weight:normal;
	line-height: 1.2;
}

#contentColumn{
	position:relative;
	float:left;
	margin-left:20px;
	width:430px;
}

#contentRow{
	position:relative;
	float:left;
	margin-left:20px;
	width:880px;
}

#artwork{
	margin:auto;
	margin-top:20px;
	position:relative;
	background-color:#0C9;
	padding-top:5px;
}

#article{
	margin:auto;
	position:relative;
	padding-top:10px;
	background-color:#F5F5F5;
	padding-bottom:15px;
	padding-left:10px;
	font-family: Novecentowide-Medium;
	font-size: 40px;
	text-align:left;
	color: #444;

}

#artworkText{
	margin:auto;
	position:relative;
	background-color:#E9E9E9;
	font-family:Roboto;
	line-height: 1.2;
	padding:10px;
	opacity:0.85;
}

#artworkYear{
	position: absolute;
	right:0;
	z-index: 20;
	width: 35px;
	height: 15px;
	margin-right:15px;
	margin-top:-5px;
	color: #E9E9E9;
	background-color:#0C9;
	padding-top:5px;
	font-size:12px;
	text-align:center;
}

#socialBlocker{
	position: absolute;
	right: 1px;
	z-index: 1;
	overflow: visible;
	width: 125px;
	height: 52px;
	background-color: #F5F5F5;
}

#contactDetails{
	position:relative;
	float:left;
	width:890px;
	padding:10px;
	padding-left:20px;
	margin-top:20px;
	background-color:#E9E9E9;
	opacity:0.7;
}

#grayScale {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%) contrast(80%); /*Chrome & Safari 6+ */
	-webkit-backface-visibility: hidden;
	-webkit-transition: all .8s ease;

}

#grayScale:hover {
    filter: none;
    -webkit-filter: grayscale(0%) contrast(100%);
}

a:link {
	color:inherit;
	text-decoration: none;
}
a:visited {
	color:inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

/* @license
 * MyFonts Webfont Build ID 2542430, 2013-04-28T08:50:26-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Novecento Wide Medium by Synthview
 * URL: http://www.myfonts.com/fonts/synthview/novecento/wide-medium/
 * Copyright: Copyright &#x00A9; 2011 by Jan Tonellato. All rights reserved.
 * Licensed pageviews: Unlimited
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2542430
 *
 * © 2013 MyFonts Inc
*/
