body{
  /* margin-left: 150px; */
  /* margin-right: 150px; */
  width: 70%;
  margin: auto;
  font-family: 'Helvetica Neue';
}

h1 {
    color: #ff196a;
    margin-bottom: 0px;
    margin-left: 10px;
}

h2 {
    color: #ff196a;
    margin-bottom: 0px;
    margin-left: 10px;
}

h3 {
    color: #ff196a;
    margin-bottom: 0px;
    margin-left: 10px;
    font-weight:normal;
}

h4 {
    font-size: 20px;
    font-weight: 300;
    color: #ff196a;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 10px;
}

p{
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    color: black;
    min-width: 200px;
    max-width: 1000px;
    margin: 0px 10px 12px;
}

ul {
    color: black;
    margin: 0px;
}

ol {
    color: black;
}

li {
    margin-top: 0px;
    font-size: 20px;
    font-weight: 300;
    padding-left: 10px;
    max-width: 750px;
}

.authors {
    font-weight: normal;
    color: #ff196a;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.refnum {
    float: left;
}

.reference {
    float: left;
}


#iframe-wrapper{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

#images{
  text-align: center;
}

#image {

}
